<h3>Pole:</h3>

<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="formData.distinct"> Jedinečné řádky
    </label>
</div>

<div class="form-group" ng-repeat="val in formData.table_names">
    <h4>{{val}}</h4>
    <div class="container-fluid">
        <form class="form-horizontal" role="form">
            <div class="row col-md-6 col-lg-4" ng-repeat="(key,field) in tableData.tableInfos[val]">
                <div class="checkbox col-sm-7">
                    <label>
                        <input type="checkbox" checklist-model="formData.table_fields" checklist-value="field"> {{field.name}}
                    </label>
                </div>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="field.function" ng-options="function for function in functions"></select>
                </div>
            </div>
        </form>
        <!--        <label class="checkbox-inline no_indent" ng-repeat="(key,field) in tableData.tablesWithFields[val]">
                    <select class="form-control" ng-model="field.function" ng-options="function for function in functions"></select><br>
                    <input type="checkbox" checklist-model="formData.table_fields" checklist-value="field"> {{field.name}}
                </label>-->
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-3 col-xs-6">
        <a ui-sref="define-view.table-name" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Zpět
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 col-sm-offset-6">
        <a ui-sref="define-view.column-names" class="btn btn-block btn-info">
            Další <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
